.nav{
    background-color: darkred;
    height: 50px;
    width: 100%;
    padding: 0.6px;
    box-sizing: border-box;
}
.items {
    display: flex;
    justify-content: space-between;
    color: rgb(186, 96, 96);
    margin-left: 15px;
}
ol{
    gap: 35px;
    display: flex;
    list-style: none;
    margin-right: 20px;
}
.nav-ol li{

}
.home{
    font-weight: 720;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
.about{
    font-weight: 720;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;

}
.serv{
    font-weight: 720;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
.cont{
    font-weight: 720;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
.body{
    background-color: rgb(249, 144, 144);
}
.logo{
    color: white;
    font-style: italic;
    font-family: cursive;
}
